<div class="page-container">
  <div class="row justify-content-around pt-5">

    <div class="col-sm-12 col-md-6">
      <% if @bike.photo.attached? %>
        <%= cl_image_tag("https://res.cloudinary.com/fabdv/image/upload/v1582298881/Bikr/#{bike.photo.key}"), class: "rounded shadow" %>
      <% else %>
        <%= image_tag "https://source.unsplash.com/featured/?bike(160 kB)", class: "rounded w-100 shadow", height: "500px" %>
      <% end %>
    </div>


    <div class="col-sm-12 col-md-4">
      <div class="div d-flex justify-content-between">
        <h1><%= @bike.bike_type %></h1>
        <h1><%= @bike.price_per_day %>€</h1>
      </div>
      <p><%= @bike.description %></p>
      <p class="attribute"><%= @bike.electric %></p><p class="attribute"><%= @bike.gender %></p><p class="attribute"><%= @bike.size %></p>
      <%= simple_form_for @booking do |f|  %>
      <div class="form-row">
        <div class="col">
          <%= f.input :start_date, label: false, placeholder: "rent date", as: :string, input_html: {class: "datepicker"} %>
        </div>
        <div class="col">
          <%= f.input :end_date, label: false, placeholder: "return date", as: :string, input_html: {class: "datepicker"} %>
        </div>
        <div class="col">
        <% if current_user %>
          <%= f.button :submit, class: "btn add-bike-btn", id: "booking_button" %>
        <% else %>
          <%= link_to "login", new_user_session_path, class: "btn add-bike-btn" %>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
