<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control">
          <p>Where ?</p>
          <%= f.input :location, placeholder: "Anywhere", label: false %>
          <div class="form-inline">
            <%= f.input :start_date, as: :date, :input_html => { :value => Date.today}, label: false %>
            <%= f.input :end_date, label: false, placeholder: "Check Out" %>
          </div>
            <%= f.submit "Search", class: "btn btn-primary mt-3" %>
        </div>
      <% end %>    
    </div>
  </div>

  <div class="row">

    <div class="cards">
      <% @bikes.each do |bike| %>
        <div class="card-trip">
          <img src="https://source.unsplash.com/featured/?<%= bike.bike_type %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= bike.bike_type %></h2>
              <p><%= bike.description.first(30) %>...</p>
            </div>
            <h2 class="card-trip-pricing"><%= bike.price_per_day %> €/day</h2>
            <img src="<%= " https://source.unsplash.com/featured/100x100/?people" %>" class="card-trip-user avatar-bordered" />
          </div>
        </div>

      <% end %>
    </div>



  </div>
</div>


