<div class="banner" height = 500px style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2264&q=80);">
  <div class="row mt-2">
    <div class="col-6">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control">
          <p>Where ?</p>
          <%= f.input :location, placeholder: "Anywhere", label: false %>
          <div class="form-row">
            <div class="col">
            <%= f.input :start_date, label: false, placeholder: "Rent Date" %>
            </div>
            <div class="col">
            <%= f.input :end_date, label: false, placeholder: "Return" %>
            </div>
          </div>
          <%= f.input :bike_type, placeholder: "Bike Type", label: false, collection: Bike::BIKE_TYPES, class: "select2" %>
            <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>

<div class="container">
  </div>

</div>


