<div class="page-container">
  <div class="row justify-content-around pt-5">

    <div class="col-sm-12 col-md-6 cl-image">
      <!-- <div class="w-75"> -->
        <% if @bike.photo.attached? %>
          <%= cl_image_tag @bike.photo.key, class: "rounded shadow" %>
        <% else %>
          <%= image_tag "https://source.unsplash.com/featured/?bike(160 kB)", class: "rounded w-100 shadow", height: "500px" %>
        <% end %>
      <!-- </div> -->
    </div>


    <div class="col-sm-12 col-md-4 card shadow">
      <div class="card-body">
        <div class="div d-flex justify-content-between card-title">
          <h1><%= @bike.bike_type %></h1>
          <h1><%= @bike.price_per_day %>€<span style="font-size: 12px">/day</span></h1>
        </div>
        <h6 class="text-muted mb-3 card-subtitle"><i class="fas fa-map-marker-alt mr-1"></i><%= @bike.location %></h6>
        <p class="card-text mt-4"><%= @bike.description %></p>
        <p class="attribute"><i class="fas fa-ruler mr-1"></i><strong>Size: </strong><%= @bike.size %></p>
        <p class="attribute"><i class="fas fa-user-tag mr-1"></i><strong>Owner: </strong><%= @bike.user.username %></p>
        <%= simple_form_for([@bike, @booking], remote: true) do |f|  %>
        <div class="form-row mt-5">
          <div class="col">
            <%= f.input :start_date, label: false, placeholder: "rent date", as: :string, input_html: {class: "datepicker"} %>
          </div>
          <div class="col">
            <%= f.input :end_date, label: false, placeholder: "return date", as: :string, input_html: {class: "datepicker"} %>
          </div>
          <div class="col">
          <% if current_user %>
            <%= f.button :submit, class: "btn add-bike-btn", id: "booking_button" %>
          <% else %>
            <%= link_to "login", new_user_session_path, class: "btn add-bike-btn" %>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="booking_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Congratulations 🚲🎉</h5>
      </div>
      <div class="modal-body" id="booking_modal_body">
        <p></p>
      </div>
      <div class="modal-footer">
        <%= link_to "Close", my_dashboard_path, class: "btn add-bike-btn" %>
      </div>
    </div>
  </div>
</div>
